//$mgmt-header: 78px;
$mgmt-nav-width: 300px;
$mgmt-padding-left: 1.4em;
$mgmt-padding-top: 1.6em;

$border-color-white: #e1e4e5;
//$border-color-white: #000;

html {
  height: 100%;
}

$root-line-height: 1;
@import 'node_modules/sanitize.css/lib/sanitize.scss';
@import 'reset';
@import 'members';
@import 'management';
