$root-line-height: 1;
@import 'node_modules/sanitize.css/lib/sanitize.scss';
@import "index2";

$mgmt-header: 78px;
$mgmt-nav-width: 300px;
$nav-padding-side: 1.4em;
$mgmt-padding-top: 1.6em;

html {
  height: 100%;
}

.nav-content-wrap {
  height: 100%;
}

.mgmt {
  &-nav {
    &-logo {
      display: block;
      width: $mgmt-nav-width;
      margin: 0 0 0.8em;
      padding: $mgmt-padding-top $nav-padding-side $mgmt-padding-top / 2;
    }

    &-side {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: $mgmt-nav-width;
      overflow-x: hidden;
      overflow-y: hidden;
      min-height: 100%;
    }

    &-scroll {
      overflow-x: hidden;
      overflow-y: scroll;
      height: 100%;
    }
  }

  &-content {
    &-wrap {
      margin-left: 300px;
      min-height: 100%;
      background: #fefefe;
    }

    padding: 1.6em 3.2em;
    height: 100%;
    max-width: 800px;
    margin: 0 auto;

  }
  position: relative;
  height: 100%;
}

.nav-vertical {
  li ul {
    display: none;
  }
  li.active ul {
    display: block;
  }
  a {
    display: block;
    padding: 0.4em $nav-padding-side;
  }
}
